---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const projects = (await getCollection('work')).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
	title="Publicaciones | Astro"
	description="Conozca las publicaciones m치s recientes de nuestro blog"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Publicaciones"
				tagline="Vea nuestras publicaciones m치s recientes a continuaci칩n para tener una idea de nuestro proyecto de investigaci칩n."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
